<ion-header> </ion-header>

<ion-content class="ion-margin-top ion-margin-bottom">
  <ion-list>
    <ion-item>
      <ion-label class="ion-text-center ion-text-bold">StoreApp</ion-label>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-label position="floating">email</ion-label>
      <ion-input
        name="email"
        [(ngModel)]="user.email"
        autofocus="true"
        inputmode="email"
      ></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">password</ion-label>
      <ion-input
        type="password"
        name="password"
        [(ngModel)]="user.password"
      ></ion-input>
    </ion-item>
    <ion-button expand="block" color="tertiary" fill="outline" (click)="login()"
      >Login</ion-button
    >
    <ion-item *ngIf="error">
      <ion-label color="warning">Invalid Credentials</ion-label>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-button size="small" color="primary" fill="clear" (click)="signUp()">Sign up</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
