<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">New Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" name="nombre" [(ngModel)]="store.nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Type</ion-label>
      <ion-select name="tipo" [(ngModel)]="store.tipo">
        <ion-select-option value="1">Coffe</ion-select-option>
        <ion-select-option value="2">Restaurant</ion-select-option>
        <ion-select-option value="3">Bar</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button class="ion-margin-top" (click)="addStore()" expand="block" shape="round">
      Add
    </ion-button>
    <ion-item>
      <ion-label *ngIf="isAdd" color="success">Store created successfully</ion-label>
      <ion-label *ngIf="error" color="danger">Error to create store</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
